.displayNone {
	display: none !important;
}

.codeGlass .show {
	background: url(view.png) no-repeat;
	width: 129px;
	height: 42px;
	cursor: pointer;
}

.codeGlassBg {
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 9999998;
}

.codeGlassViewer {
	font-family: Helvetica;
	z-index: 9999999;
	position: absolute;
}

.codeGlassInline {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	position: relative;
}

.codeGlassViewer .header {
	height: 33px;
}

.codeGlassViewer .footer {
	height: 33px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.codeGlassViewer .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

.codeGlassViewer .header ul li,
.codeGlassViewer .footer .theme,
.codeGlassViewer .footer .version,
.codeGlassViewer .footer .a11y,
.codeGlassViewer .footer .i18n,
.codeGlassViewer .footer .dir {
	float: left;
	padding: 8px 8px 5px 8px;
	border-right: 1px solid #ccc;
	height: 21px;
}

.codeGlassViewer .header ul li.active {
	text-decoration: underline;
	background-color: #F3F3F3;
	padding-bottom: 1px;
}

.codeGlassViewer .header ul li {
	padding: 11px 8px 2px 24px;
	cursor: pointer;
	background-position: 4px 8px;
	background-repeat: no-repeat;
}

.codeGlassViewer .header ul .javascript {
	background-image: url(javascript.png); 
}

.codeGlassViewer .header ul .html {
	background-image: url(html.png); 
}

.codeGlassViewer .header ul .css {
	background-image: url(css.png); 
}

.codeGlassViewer .header ul .copy {
	background-image: url(copy.png); 
}

.codeGlassViewer .header ul .demo {
	background-image: url(demo.png); 
}

.codeGlassViewer .wrapper {
	height: 100%;
}

.codeGlassViewer iframe {
	border: none;
	background: white;
	display:table-row;
	width: 100%;
	height: 100%;
}

.codeGlassViewer .iframe .loader {
	position: absolute;
	top: 0;
	right:0;
	left: 0;
	bottom: 0;
	background: white;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	text-align: center;
}

.codeGlassViewer .iframe .loader span {
	display: inline-block;
	background: url(loader.gif) no-repeat left center;
	width: 32px;
	height: 100%;
}

.codeGlassViewer .container {
	padding: 5px 8px 8px 5px;
	clear: both;
	position: absolute;
	top: 34px;
	right: 0px;
	bottom: 34px;
	left: 0px;
}

.codeGlassViewer .container .info {
	border :1px solid #ccc; /* to fix uncalculatable margins from inner elements */
	background: #f3f3f3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 5px;
	padding: 5px;
}

.codeGlassViewer .container .info .clipboard {
	padding: 3px 20px 3px 0;
	background: url(copy.png) no-repeat top right;
	font-size: 11px;
	text-align: right;
	float: right;
	text-decoration: underline;
	cursor: pointer;
	color: #555;
}

.codeGlassViewer .container .info .content {
	clear: both;
}

.codeGlassViewer .container code {
	white-space:pre-wrap;
	word-wrap:break-word;
}

.codeGlassViewer .container pre {
	background-color: #EEFFCC;
	border: 1px solid #AACC99;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	overflow-y: auto;
	margin: 0;
	padding: 5px;
}

.codeGlassViewer .container h1 {
	font-size: 1.2em;
	margin: 5px 0;
}

.codeGlassViewer textarea {
	width: 100%;
	height: 100%;
	font-family:arial;
	font-size:11px;
}

.codeGlassViewer .close {
	display: inline-block;
	background: url(close.png) no-repeat;
	width: 15px;
	height: 18px;
	position: absolute;
	right: 9px;
	top: 8px;
	cursor: pointer;
}

.codeGlassViewer .close a {
	text-decoration:none;
}

.codeGlassViewer .description {
	font-family: Tahoma;
}

/**
 * Following rules are there to reset MOINMOIN CSS styles. This can be taken out at some point, or better should be
 */

.codeGlassViewer .container .info {
	float: none;
	color: black;
	font-size: 1em;
}

.codeGlassViewer .container .info * {
	color: black;
}

.codeGlassViewer .footer {
	padding: 0;
	color: black;
	font-size: 100%;
	text-align: left;
}