<div class="codeGlassViewer displayNone">
	<div class="wrapper">
		<div class="header {% if not showHeader %}displayNone{% endif %}" dojoAttachEvent="onclick: _toggleView"
			>{% if showTabs %}<div title="containerIframe" class="menuItem demo active"><a href='#' dojoAttachPoint="firstLink">Demo</a></div
			><div title="containerFull" class="menuItem copy"><a href="#">Copy &amp; Paste</a></div
				>{% if javascriptcode %}<div title="containerJs" class="menuItem javascript"><a href='#'>JavaScript</a></div
				>{% endif %}{% if htmlcode %}<div title="containerHtml" class="menuItem html"><a href='#'>HTML</a></div
				>{% endif %}{% if csscode %}<div title="containerCss" class="menuItem css"><a href='#'>CSS</a></div>{% endif %}{% endif %}
			<div class="close displayNone"><a href="#"><span style="visibility:hidden">X</span></a></div>
		</div>
		<div dojoAttachPoint="contentWrapper" class="contentWrapper">
			<div dojoAttachPoint="containerIframe" class="iframe container">
				<div dojoAttachPoint="loader" class="loader"><span>&nbsp;</span></div>
			</div>
			<div dojoAttachPoint="containerFull" class="full container displayNone">
				<div class="info">
					<div class="clipboard" dojoAttachEvent="onclick: _copyClipboard"><a href="#">Copy to clipboard</a></div>
					<p>To run the demo in your own environment, copy and paste the full source into an editor and open it in a browser.</p>
				</div>
				<textarea dojoAttachPoint="textareaCode">{{ renderedContent }}</textarea>
			</div>
			{% if javascriptcode %}
			<div dojoAttachPoint="containerJs" class="js container displayNone">
				<div class="info">
					<div class="clipboard" dojoAttachEvent="onclick: _copyClipboard">Copy to clipboard</div>
					{% if javascriptlabel %}<h1>{{ javascriptlabel|safe }}</h1>{% endif %}
					<div class="content">{% if javascriptcontent %}{{ javascriptcontent|safe }}{% endif %}</div>
				</div>
				<pre>
					<code class="javascript">{{ javascriptcode }}</code>
				</pre>
			</div>
			{% endif %}
			{% if htmlcode %}
			<div dojoAttachPoint="containerHtml" class="html container displayNone">
				<div class="info">
					<div class="clipboard" dojoAttachEvent="onclick: _copyClipboard">Copy to clipboard</div>
					{% if htmllabel %}<h1>{{ htmllabel|safe }}</h1>{% endif %}
					<div class="content">{% if htmlcontent %}{{ htmlcontent|safe }}{% endif %}</div>
				</div>
				<pre>
					<code class="html">{{ htmlcode }}</code>
				</pre>
			</div>
			{% endif %}
			{% if csscode %}
			<div dojoAttachPoint="containerCss" class="css container displayNone">
				<div class="info">
					<div class="clipboard" dojoAttachEvent="onclick: _copyClipboard">Copy to clipboard</div>
					{% if csslabel %}<h1>{{ csslabel|safe }}</h1>{% endif %}
					<div class="content">{% if csscontent %}{{ csscontent|safe }}{% endif %}</div>
				</div>
				<pre>
					<code class="css">{{ csscode }}</code>
				</pre>
			</div>
			{% endif %}
		</div>
		<div class="footer {% if not showFooter %}displayNone{% endif %}" dojoAttachPoint="toolbarBottom">
			{% if toolbarBottom %}{{ toolbarBottom|safe }}{% endif %}
		</div>
	</div>
</div>