<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="{{ dir }}">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ baseUrl|safe }}dijit/themes/{{ theme|safe }}/{{ theme|safe }}.css">
		<style type="text/css">
			body, html {
				font-family:helvetica,arial,sans-serif;
				font-size:90%;
			}
		</style>
		{% if csscode %}{{ csscode|safe }}{% endif %}
	</head>
	<body class="{{ theme|safe }} {{ a11y }}">
		{% if htmlcode %}{{ htmlcode|safe }}{% endif %}
	</body>
	<script type="text/javascript" src="{{ baseUrl|safe }}dojo/dojo{% if xDomain %}.xd{% endif %}.js" djConfig="{{ djConfig }}"></script>
	{% if javascriptcode %}{{ javascriptcode|safe }}{% endif %}
	<!--
		NOTE: the following script tag is not intended for usage in real world!!
		it is part of the CodeGlass and you should just remove it when you use the code
	-->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			if (window.pub){
				window.pub();
			}
		});
	</script>
</html>